/backend
Dùng lệnh pip ngắn gọn: pip install aiosmtplib annotated-types anyio Authlib bcrypt blinker certifi cffi click colorama cryptography dnspython ecdsa email_validator fastapi fastapi-mail Flask flask-cors greenlet h11 httpcore httpx idna itsdangerous Jinja2 jose MarkupSafe mysql-connector-python passlib pyasn1 pycparser pydantic pydantic_core pydantic-settings PyMySQL python-dotenv python-jose python-multipart rsa six sniffio SQLAlchemy starlette typing_extensions typing-inspection uvicorn Werkzeug
chạy: uvicorn backend.main:app -- reload

/frontend
Dùng lệnh: npm install
chạy: npm start